In [38]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.base import BaseEstimator,TransformerMixin
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn.preprocessing import MinMaxScaler,StandardScaler,MultiLabelBinarizer
from sklearn.linear_model import LogisticRegression


#asdasd
sns.set_theme(style='darkgrid')

In [88]:
d={'Col1':['C','A','B'],'Col2':[33,34,35],'Col3':[['Apple', 'Orange', 'Banana'],['Apple', 'Grape'],['Banana']]}
d={'Col1':['C','A','B'],'Col2':[33,34,35],'Col3':[[1, 546, 456],[456,41515,5454,48,48,84],[1,2,3,4,5,6,6,7,7,8,9,9,0,0,0,0,0,0,0,0,0,0,0,0,0,0]]}

In [75]:
x=1000
b = str(x).zfill(5)
d

{'Col1': ['C', 'A', 'B'],
 'Col2': [33, 34, 35],
 'Col3': [[1, 546, 456],
  [456, 41515, 5454, 48, 48, 84],
  [1,
   2,
   3,
   4,
   5,
   6,
   6,
   7,
   7,
   8,
   9,
   9,
   0,
   0,
   0,
   0,
   0,
   0,
   0,
   0,
   0,
   0,
   0,
   0,
   0,
   0]]}

In [89]:
df=pd.DataFrame(d)

In [81]:
df['Col3']=df['Col3'].apply(lambda x: [str(i).zfill(5) for i in x if not str(x) == "nan"])

In [84]:
df

  Col1  Col2                                               Col3
0    C    33               [seif_00001, seif_00546, seif_00456]
1    A    34  [seif_00456, seif_41515, seif_05454, seif_0004...
2    B    35  [seif_00001, seif_00002, seif_00003, seif_0000...

In [83]:


df['Col3']=df['Col3'].apply(lambda x: yaron('seif_',x))

In [60]:
import itertools
ab = itertools.chain(*df['Col3'])

In [63]:
from collections import Counter
z=list(ab)

z_dict=Counter(z)
z_dict/100

TypeError: unsupported operand type(s) for /: 'Counter' and 'int'

In [93]:
df=prefix_ADD
df=get_pad(df)
df=get_severity(df)

df = df.join(
            pd.DataFrame.sparse.from_spmatrix(
                mlb.fit_transform(df.pop('Col3')),
                index=df.index,
                columns=mlb.classes_))
df = df.join(
            pd.DataFrame.sparse.from_spmatrix(
                mlb.fit_transform(df.pop('Saverity')),
                index=df.index,
                columns=mlb.classes_))
df

,Col1,Col2,00000,00001,00002,00003,00004,00005,00006,00007,...,Saverity_0,Saverity_1,Saverity_2,Saverity_3,Saverity_4,Saverity_5,Saverity_6,Saverity_7,Saverity_8,Saverity_9
0,C,33,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
1,A,34,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,1,0,1,0
2,B,35,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [87]:
def prefix_ADD (str_ADD,x):
    return [str_ADD + str(i) for i in x if not str(x) == "nan"]

def get_pad(X):
# seifey likuy padding in case of less then five digits
    data=X.copy()
    data['Col3']=data['Col3'].apply(lambda x: [str(i).zfill(5) for i in x if not str(x) == "nan"])
    
    return data

def get_severity(X):
    data=X.copy()
    data['Saverity']=data['Col3'].apply(lambda x: [i[4] for i in x if not str(x) == "nan"])
    data['Saverity']=data['Saverity'].apply(lambda x: prefix_ADD('Saverity_',x))
    return data

def get_group(X):
    data=X.copy()
    data['Groups']=data['Col3'].apply(lambda x: [i[3] for i in x if not str(x) == "nan"])
    
    return data

def get_sub_gruop(X):
    data=X.copy()
    data['Sub_groups']=data['Col3'].apply(lambda x: [i[2] for i in x if not str(x) == "nan"])
    
    return data

def get_seif_likuy:
    

# def seifiy_likuy_preprocess(X,y=None):
#     # get data frame  with seifey likuy as string and return column of python lists
    
# def bagruyot_preprocess(X,y=None):    
#     # get data frame  with bagruyot as string and return column of python lists


def seifey_likuy_transformer(X,y=None,min_samples=0,seif_likuy=True,severity_group=True,group_seif_likuy=True,sub_group_seif_likuy=True):
    data=X.copy()
    data=seifiy_likuy_preprocess(data,y=None)
    mlb = MultiLabelBinarizer(sparse_output=True)
    
    
    """
    get data frame and return indicators of seifey likuy
    X=dataframe
    y=target
    min_ratio= min samples of specfic seif likuy 
    seif_likuy= flag of single seif likuy as indicators
    severity_group= flag of severity group of seif likuy as indicators
    group_seif_likuy=flag of group of  seif likuy as indicators
    sub_group_seif_likuy=flag of sub group seif likuy as indicators
    """

In [36]:
mlb = MultiLabelBinarizer(sparse_output=True)

df = df.join(
            pd.DataFrame.sparse.from_spmatrix(
                mlb.fit_transform(df.pop('Col3')),
                index=df.index,
                columns=mlb.classes_))

In [37]:
df

,Col1,Col2,seif_0,seif_1,seif_2,seif_3,seif_4,seif_41515,seif_456,seif_48,seif_5,seif_5454,seif_546,seif_6,seif_7,seif_8,seif_84,seif_9
0,C,33,0,1,0,0,0,0,1,0,0,0,1,0,0,0,0,0
1,A,34,0,0,0,0,0,1,1,1,0,1,0,0,0,0,1,0
2,B,35,1,1,1,1,1,0,0,0,1,0,0,1,1,1,0,1