In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.base import BaseEstimator,TransformerMixin
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn.preprocessing import MinMaxScaler,StandardScaler,MultiLabelBinarizer
from sklearn.linear_model import LogisticRegression
import itertools
from collections import Counter
#asdasd
sns.set_theme(style='darkgrid')

In [32]:
d={'Col1':['C','A','B'],'Col2':[33,34,35],'Col3':[['Apple', 'Orange', 'Banana'],['Apple', 'Grape'],['Banana']]}
d={'Col1':['C','A','B','D'],'Col2':[33,34,35,36],'Col3':[[1, 546, 456],[456,41515,5454,48,48,84],[10,0,0],None]}
df=pd.DataFrame(d)
#df['Col3']=df['Col3'].apply(lambda x:x.replace('[[','[') if x is not None)
df['Col3'].fillna('',inplace=True)
#df['Col3']=df['Col3'].apply(lambda x:x.replace('[[','['))
df['Col3']=df['Col3'].apply(lambda x: ['xxx' + str(i) for i in x if not str(x) == "nan"])
df['Col3'].iloc[0]

['xxx1', 'xxx546', 'xxx456']

In [25]:

df = df.join(
            pd.DataFrame.sparse.from_spmatrix(
                mlb.fit_transform(df.pop('Col3')),
                index=df.index,
                columns=mlb.classes_))
df

NameError: name 'mlb' is not defined

In [75]:
x=1000
b = str(x).zfill(5)
d

{'Col1': ['C', 'A', 'B'],
 'Col2': [33, 34, 35],
 'Col3': [[1, 546, 456],
  [456, 41515, 5454, 48, 48, 84],
  [1,
   2,
   3,
   4,
   5,
   6,
   6,
   7,
   7,
   8,
   9,
   9,
   0,
   0,
   0,
   0,
   0,
   0,
   0,
   0,
   0,
   0,
   0,
   0,
   0,
   0]]}

In [43]:
black=['xxx456','xxx10','0xxx0']
df['Col3']=df['Col3'].apply(lambda x: [str(i).zfill(5) for i in x if not str(x) == "nan"])
df['Col4'] = df['Col3'].apply(lambda x: [item for item in x if item not in black])

In [44]:
df

,Col1,Col2,Col3,Col4
0,C,33,"[0xxx1, xxx546, xxx456]","[0xxx1, xxx546]"
1,A,34,"[xxx456, xxx41515, xxx5454, xxx48, xxx48, xxx84]","[xxx41515, xxx5454, xxx48, xxx48, xxx84]"
2,B,35,"[xxx10, 0xxx0, 0xxx0]",[]
3,D,36,[],[]

In [38]:


df['Col3']=df['Col3'].apply(lambda x: [i if i not in black for i in x])

SyntaxError: invalid syntax (925228781.py, line 1)

In [37]:
import itertools
ab = itertools.chain(*df['Col3'])
z=list(ab)
z_dict=Counter(z)

NameError: name 'Counter' is not defined

In [63]:



z_dict=Counter(z)
z_dict/100

TypeError: unsupported operand type(s) for /: 'Counter' and 'int'

In [93]:
df=prefix_ADD
df=get_pad(df)
df=get_severity(df)

df = df.join(
            pd.DataFrame.sparse.from_spmatrix(
                mlb.fit_transform(df.pop('Col3')),
                index=df.index,
                columns=mlb.classes_))
df = df.join(
            pd.DataFrame.sparse.from_spmatrix(
                mlb.fit_transform(df.pop('Saverity')),
                index=df.index,
                columns=mlb.classes_))
df

,Col1,Col2,00000,00001,00002,00003,00004,00005,00006,00007,...,Saverity_0,Saverity_1,Saverity_2,Saverity_3,Saverity_4,Saverity_5,Saverity_6,Saverity_7,Saverity_8,Saverity_9
0,C,33,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
1,A,34,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,1,0,1,0
2,B,35,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [87]:
def prefix_ADD (str_ADD,x):
    return [str_ADD + str(i) for i in x if not str(x) == "nan"]

def get_pad(X):
# seifey likuy padding in case of less then five digits
    data=X.copy()
    data['Col3']=data['Col3'].apply(lambda x: [str(i).zfill(5) for i in x if not str(x) == "nan"])
    
    return data

def get_severity(X):
    data=X.copy()
    data['Saverity']=data['Col3'].apply(lambda x: [i[4] for i in x if not str(x) == "nan"])
    data['Saverity']=data['Saverity'].apply(lambda x: prefix_ADD('Saverity_',x))
    return data

def get_group(X):
    data=X.copy()
    data['Groups']=data['Col3'].apply(lambda x: [i[3] for i in x if not str(x) == "nan"])
    
    return data

def get_sub_gruop(X):
    data=X.copy()
    data['Sub_groups']=data['Col3'].apply(lambda x: [i[2] for i in x if not str(x) == "nan"])
    
    return data

#fit stage
def calc_below_min_sample(self,X):
    ab = itertools.chain(*df['Col3'])
    z=list(ab)
    z_dict=Counter(z)
    self.black_list=[k for k, v in z_dict.items() if v < self.min_sample]
    return X

def drop_val_from_blacklist(self,X):
    data=X.copy()
    df['Col4'] = df['Col3'].apply(lambda x: [item for item in x if item not in self.black_list])
    

# def seifiy_likuy_preprocess(X,y=None):
#     # get data frame  with seifey likuy as string and return column of python lists
    
# def bagruyot_preprocess(X,y=None):    
#     # get data frame  with bagruyot as string and return column of python lists


def seifey_likuy_transformer(X,y=None,min_samples=0,seif_likuy=True,severity_group=True,group_seif_likuy=True,sub_group_seif_likuy=True):
    data=X.copy()
    data=seifiy_likuy_preprocess(data,y=None)
    mlb = MultiLabelBinarizer(sparse_output=True)
    
    
    """
    get data frame and return indicators of seifey likuy
    X=dataframe
    y=target
    min_ratio= min samples of specfic seif likuy 
    seif_likuy= flag of single seif likuy as indicators
    severity_group= flag of severity group of seif likuy as indicators
    group_seif_likuy=flag of group of  seif likuy as indicators
    sub_group_seif_likuy=flag of sub group seif likuy as indicators
    """

In [26]:
mlb = MultiLabelBinarizer(sparse_output=True)

df = df.join(
            pd.DataFrame.sparse.from_spmatrix(
                mlb.fit_transform(df.pop('Col3')),
                index=df.index,
                columns=mlb.classes_))

In [49]:
d={'a':19,'b':16,'ccc':88}
d = [k for k, v in d.items() if v > 16]
d

['a', 'ccc']